[2017-01-20 08:20] dthunder746 opened #1 "Electrical Module: A NetworkXNoPath occurred"
Hey,

Using the V 1.0 .exe from the SETIS site, and the Wave Device Example data from the database.

Performing a simulation with the Hydro and Electrical modules, and the Economic assessment I get the following error when beginning the Electrical module:

[code]

Any ideas?

[2017-01-20 10:42] H0R5E commented on #1
Hi, did you follow the instructions in the README that came with the DB? Specifically it says this about the wave example with those two modules:

My best guess is that your maximum seabed gradient is set too low.

Mat

[2017-01-23 04:10] dthunder746 commented on #1
Yep, followed the text file. I tried increasing the seabed gradient from 14, but even going up to 1000 results in the exact same error.

I noticed that there is a big change in depth on the boundary between the lease area and cable corridor, so I changed the bathymetry data for the lease area and cable corridor to be a constant -70m. This fixed the issue, so thanks for the tip about the seabed gra

[2017-01-23 04:10] #1 closed, assigned to nobody

[2017-02-13 07:52] dthunder746 opened #2 "A KeyError occurred: 0L"
Whilst trying to start a simulation using the hydraulic + electrical modules and the economic assessment, I get the following error when initiating bathymetry for a dataset I've created in the database.

[code]

I'm guessing there is an issue with my bathymetry data not matching up between tables, but any guidance as to which tables?

To create this data i have just taken UTM points inside my defi

[2017-02-14 10:13] davidbould opened #3 "v1.0 Installer Failing"
Although the installer (combined installer - DTOcean code plus Hydro data) works on the majority of systems, a number of users are reporting that it terminates abnormally.

The installation of the DTOcean code progresses well and seems to complete but the Hydro data installer then complains that "DTOcean installation directory not found."

Have double checked that c:\dtocean is the installation di

[2017-02-14 10:15] davidbould opened #4 "Route not found - electrical module"
A number of users reported that running the wave example from the DB results in a "route not found error" in the electrical module.  This error can be reproduced and also appears when using the tidal example database.

[2017-02-14 10:18] davidbould opened #5 "Lease Area None Type error - Environmental module"
Users reporting an error from the Enviro module when running the floating wave example from the release database. Module appears to be having difficulty with the lease area.

Opened example data locally. Error reproduced. Lease area seems correct in plots.

Lease area variable appears to be getting wiped at some point during running in GUI. On loading sample floating wave from the database, the le

[2017-02-14 10:21] davidbould opened #6 "Enviro Module - Monthly Observation of Receptors - Input via GUI"
Not possible to input "Monthly Observation of Receptors" through the gui.
Error: "A TypeError occurred: zip argument #2 must support iteration"

Solution: replace "TriStateIndexTable" by "IndexTable" in environmental.yaml

[2017-02-14 10:23] davidbould opened #7 "Enviro Module - Incorrect CSV filename"
The file "chemicalpollution_weighting.csv" in "C:\dtocean\Lib\site-packages\dtocean_environment\data\operation and maintenance" is incorrectly named "chemicalpollution_weighting.csv0000666" using the DTOcean installer.

Solution: rename file.

[2017-02-14 10:27] davidbould opened #8 "Moorings and Foundations Type Error"
User reported the following issue when running the moorings and foundations module.

I have downloaded the DTOcean suite of tools for reference and when Working through the tutorials I manage to get to Tutorial 1_4_OutputInterpretation where I encounter problems.

When entering data from the demo file (as per the tutorial) 'fixed_tidal_tutorial_scenario' provided in the doanloads, everything goes

[2017-02-14 10:29] davidbould opened #9 "Bathymetry Key Error: Sediment"
User reported the error "KeyError occurred: 'sediment'" when attempting to input bathymetry files created using Octave or downloaded from open source repositories.

[2017-02-14 10:31] davidbould opened #10 "Tidal scenario fails when altering Tidal Probability Bins"
Some users reporting failure when running the sample tidal data and setting:
Tidal Probability Bins = 1
User Array Option = Fixed

[2017-02-14 19:08] H0R5E commented on #3
So, in order to capture the installation directory chosen by the user in the Constructor installer, a post-install script is executed which should write this directory to the HKCU\Software\DTOcean key.

For some reason this is not working on all systems. There are three possibilities as far as I see it:

1. The script is failing. This could be from the commands not being recognised on certain syst

[2017-02-14 20:30] H0R5E commented on #3
OK, the following gist is a batch script that will allow the user to pre-set the installation directory before installing DTOcean:

https://gist.github.com/H0R5E/1b2f915f9f4e44ed179614e4b54e4d41

Note that the chosen installation directory should be exactly replicated when prompted in the installer and must not exist prior to installation (it doesn't have to exist for the script to work).

Remembe

[2017-02-16 12:03] WavEC opened #11 "Logistics Module "invalid type comparison" Error"
I was trying to test the Logistics/Installation module.
When i try to run the tool, it says PASSED on the inputs and gives green light for the run but however, returns an error shortly after. The error is the following:

[code]

I tried to have a look at the different scripts it mentions but could not trace the source of the error.
Just for testing, I commented out the part of the cable burial but

[2017-02-16 12:05] WavEC opened #12 "Installation Anti-Virus Incompatability: /bin/Mesh.exe"
When i was trying to install the DTOcean tool i had to shutdown my anti-virus as it was picking up part of the installation (the /bin/Mesh.exe file) as an Trojan Horse...

[2017-02-16 12:08] WavEC opened #13 "Tool installs but does not start"
I maanage to install the software, but when i try to run the tool, the "DTOcean" logo pop's up, but after a while disappears and nothing else happens, I noticed that the process "pythonw" which started when i run the tool, also shuts down, when the logo disappears.

[2017-02-16 14:28] H0R5E commented on #13
OK, to diagnose what it going on begin with right clicking on the DTOcean GUI shortcut and selecting "Properties".

Open a command prompt (cmd.exe) and change the directory to the one given in the "Start in:" box and then run the command shown in the "Target:" box in the properties dialogue. The process should look a little like this:

[code]

Note, I changed the interpretor to python.exe above ju

[2017-02-16 14:43] H0R5E commented on #12
Yeah, not sure about this one. Its a file from NEMOH.

I've opened a bug report on their forums which is here: http://lheea.ec-nantes.fr/redmine/boards/3/topics/674

Can you provide more details? Which anti-virus was this? Is there more detail about the virus that was detected?

[2017-02-16 15:00] WavEC commented on #12
The anti-virus were both "F-Secure" and "Trend Micro", in two different computers. Both detected the file has an Trojan Horse. No more information than this is given unfortunately.

[2017-02-16 15:05] WavEC commented on #13
This was the traceback i got:
![image](https://cloud.githubusercontent.com/assets/25801019/23026479/4a60c6d0-f459-11e6-87c7-39e6ef4d8332.png)
its seems some dll is not found...

[2017-02-16 15:17] H0R5E commented on #12
I think it can be assumed that these are false positives. Some of the ".bat" files in the source code are also considered malicious by some anti-virus. I'm not even sure that its utilised.

[2017-02-16 15:26] H0R5E commented on #13
Do you have QtWebKit.pyd in the directory C:\DTOcean\Lib\site-packages\PyQt4? I have it with size 414KB.

If not something has gone wrong with your installation.

[2017-02-16 15:30] WavEC commented on #13
I have the file, the exact some size, 414kB.

[2017-02-16 15:40] H0R5E commented on #13
Can you try the procedure described in the following post?

http://stackoverflow.com/questions/22221427/importerror-dll-load-failed-the-specified-procedure-could-not-be-found-python

It might reveal what is missing on your system.

[2017-02-16 16:35] H0R5E commented on #13
I'm struggling to recreate your problem. It looks like the pyd files are looking for some missing DLLs or reading the wrong DLLs.

What is on your path environment variable?

In a command window type "echo $PATH$" and it will be printed.

[2017-02-16 16:49] WavEC commented on #13
So, i had a look at the link you sent, but could not be sure what steps you meant to take.

I installed Qt4.8.4 and placed the dll files in C:\Qt\4.8.4\bin in the dtocean folder (in the link: The solution is to put Qt libraries version 4.8.4 into your '%PYTHONHOME%\Lib\site-packages\PyQt4' folder or PATH.).

 I also added "C:\Qt\4.8.4\bin" to the Environment Variables in advanced settings of windo

[2017-02-16 16:53] WavEC commented on #13
And the "Dependency Walker" shows a lot of red dependencies when opening the QtWebKit.pyd...

[2017-02-16 17:23] H0R5E commented on #13
Sorry should have been "echo %PATH%".

My best guess is that you have some 32bit DLLs which are being linked incorrectly. There should be a file in C:\DTOcean called qt.conf and this should direct Qt to look in C:/DTOcean/Library/bin for the DLLs. However, I think it will look in other places first, so it might be that its loading the wrong DLLs.

The way I found out which DLLs were being loaded o

[2017-02-16 18:09] H0R5E commented on #13
If you click "Include Subtree" on the process tree viewer, once you have selected the python session, it will also filter out the other processes.

[2017-02-28 15:43] H0R5E commented on #2
Marcus, I think the short answer is that you are missing the corresponding line in the "farm" table.

As I stated on the mailing list, I will try to give you some more details as to what is going on at a later date.

[2017-03-01 10:33] GiVi89 opened #14 "Installation - issues - Tutorial"
We have problems in the installation of the software.

We already managed to install the complete "DTOcean Installation 1.0.0" and we are trying to follow the tutorial.

(For the installation we used the working batch for the registry update for the installation path)

We don't manage to update the database, as we think it is required for following the tutorial.

Is there any instruction manual fo

[2017-03-03 19:46] H0R5E commented on #14
Hi, is your problem covered on our [Any Asked Questions](https://dtocean.github.io/#aqa) page?

[2017-03-03 19:51] H0R5E commented on #4
#1 is a duplicate of this issue.

[2017-03-06 16:42] H0R5E commented on #12
From upstream:

This looks like a false positive so we will add some warnings in the documentation. I'll leave this open until that work is completed.

[2017-03-06 16:55] H0R5E commented on #9
I don't see this as a bug, particularly without further details. We do need to document data entry some more, but there is insufficient details here to understand how they were trying to enter the data.

[2017-03-06 16:55] #9 closed, assigned to nobody

[2017-03-06 16:59] H0R5E commented on #10
Is this in the instructions to use these values?

[2017-03-06 17:02] H0R5E commented on #13
I'm going to close this due to inactivity.

[2017-03-06 17:02] #13 closed, assigned to nobody

[2017-03-06 19:36] H0R5E commented on #5
OK, I can confirm this one as well:

[code]

[2017-03-06 21:24] H0R5E commented on #5
So the issue is with the module scope evaluation which is masking the database outputs. This is unwanted behaviour and the results of the database interfaces should probably not be tagged with "output".

[2017-03-07 09:08] H0R5E commented on #7
Confirmed. And on the 32bit installation I produced it as well. Be interesting to narrow down where this is happening. It doesn't appear in the Ananconda package, so its either Constructor or inno setup.

[2017-03-07 09:25] H0R5E commented on #6
Confirmed:

[code]

Not sure what the exact cause of this one is yet.

[2017-03-07 09:51] H0R5E opened #15 "Electrical Module: A TypeError occurred: Only linear types support this operation"
Some issue with Shapely has appeared while running the electrical module for the fixed tidal tutorial support demo data.

[code]

[2017-03-07 09:54] H0R5E commented on #15
This is blocking investigation of issue #8

[2017-03-07 11:25] H0R5E commented on #10
OK, so this is confirmed:
[code]

I'm not sure its really a bug. Perhaps a warning saying a minimum of two bins is required would suffice.

[2017-03-07 11:45] H0R5E opened #16 "Displaying Installation module test data causes crash."
After loading the inputs_wp5.py file in dtocean_core\test_data in the GUI, dtocean-qt crashes when trying to view the data:

[code]

[2017-03-07 12:02] H0R5E commented on #11
Hi, I'm having a little trouble validating this one because of issue #16.

Is the "Jetting capability [yes/no]" column set in the "Installation Equipment: Cable Burial Data" table? We don't check for completeness of tables, just that some data has been entered.

It might be something to consider validating that the entered data is complete.

[2017-03-07 12:36] WavEC commented on #11
This column was set in the Equipment database. If it was implemented in the end in the core, we cannot say...

[2017-03-07 12:40] H0R5E commented on #11
How were you testing it then?

[2017-03-07 13:54] H0R5E commented on #11
OK, so assuming this test proceeded using the example database, the values for "Jetting capability [yes/no]" are stored as a boolean, whereas the interface is expecting a string.

This highlights the issue with type mismatch in blank tables, so I think its important to try and define and implement column types as a long term goal.

[2017-03-07 14:00] H0R5E opened #17 "Installation Module Excavating data, Penetration rates, Hammer data, Installation tidal time series, Installation wind time series do not read correctly from database"
When loading reference data for the installation module the following three variables do not read correctly:

[code]

[code]

[code]

[code]

[code]

[2017-03-09 15:06] #15 closed, assigned to nobody

[2017-03-09 15:34] H0R5E opened #18 "Installation module test data can not be saved."
The following strace occurred after loading the inputs_wp5.py test data file into the GUI and then attempting to save it.

[code]

[2017-03-09 16:53] #16 closed, assigned to H0R5E

[2017-03-09 18:06] H0R5E commented on #8
I couldn't recreate this in the latest build (1.0.2). Could you recreate the error and upload the .dto file? It may be something specific to the particular results you are getting.

[2017-03-13 09:07] H0R5E commented on #14
Closing due to inactivity.

[2017-03-13 09:07] #14 closed, assigned to nobody

[2017-03-15 15:37] #6 closed, assigned to nobody

[2017-03-16 17:14] #18 closed, assigned to nobody

[2017-03-16 17:54] H0R5E opened #19 "Electrical module: A LinAlgError occurred: Matrix is not positive definite"
Under certain array layouts (particularly with a centred device) the electrical network generator throws an error:

[code]

[2017-03-16 18:10] #11 closed, assigned to nobody

[2017-03-28 10:37] #19 closed, assigned to nobody

[2017-03-28 10:38] H0R5E commented on #4
It turns out that the bathymetry was not the issue here, but actually a bug in the electrical module that was
hard setting the maximum gradient to zero.

[2017-03-28 10:38] #4 closed, assigned to nobody

[2017-03-28 12:23] H0R5E opened #20 "Installation module: A ValueError occurred: labels ['layer 2 start' 'layer 2 type'] not contained in axis"
[code]

[2017-05-30 11:49] H0R5E commented on #17
Fixed for 1.1 release.

[2017-05-30 11:49] #17 closed, assigned to nobody

[2017-06-02 14:26] H0R5E commented on #5
Fixed in PR DTOcean/dtocean-core#14

[2017-06-02 14:26] #5 closed, assigned to H0R5E

[2017-07-11 09:44] kilomwork opened #21 "Electrical Sub Systems module - input data for Array Layout by editing the table"
When I am running the Electrical Sub Systems module without inputs from the Hydrodynamics module, I want to input **Array Layout** and **Mean Power Production Histogram Per Device** data through editing the table instead of uploading an excel file. I expect that I can edit the table in a similar way as the **lease boundary** input as shown in Figure 1. However, it seems that the table function has

[2017-07-11 09:56] kilomwork opened #22 "Error in running the Hydrodynamics module - cannot convert float NaN to integer"
When I am running the Hydrodynamics module, I experienced the following error.
**A ValueError Occurred: : cannot convert float NaN to integer**
Could you suggest any solutions for this?? Thank you very much for your help.

![nan](https://user-images.githubusercontent.com/25958432/28062655-87f65232-6626-11e7-8b7d-2f579d9be3d8.PNG)

[code]

[2017-07-11 11:34] H0R5E commented on #21
Hi @kilomyau, there is a widget for these types of variables in the master branch and it will be included in the 1.1 release. For the time being you will have to enter the values using a file. The attached file [array_layout_example.xlsx](https://github.com/DTOcean/dtocean-issues/files/1138692/array_layout_example.xlsx) gives an example of how the input should be formatted.

Best wishes,

Mat

[2017-07-11 11:34] #21 closed, assigned to nobody

[2017-07-11 11:43] H0R5E commented on #22
Hi @kilomyau, this bug can be triggered if your "Tidal Occurrence Extraction Point" variable lies outside of the lease area domain. There will be a better error for this problem in version 1.1.

[2017-07-11 22:26] kilomwork commented on #22
Thank you very much for your help Mathew.
Unfortunately, I have checked the Tidal Occurrence Extraction Point of my input and that lies within my lease area. Could you suggest any other possible sources of errors?

[2017-07-12 06:50] H0R5E commented on #22
Can you share the .dto file with me? I'll see if it runs OK on the development build.

[2017-07-12 10:42] kilomwork commented on #22
Hi Mathew, the attached zip file is my dto file.
Thank you!
[test2.zip](https://github.com/DTOcean/dtocean-issues/files/1141703/test2.zip)

[2017-07-14 18:12] H0R5E commented on #22
Hi @kilomyau. I couldn't get all your data to load due to some backwards compatibility issues but I did notice that the x-coordinate of the extraction point is set to 587500.00 which is way outside of the extent of your lease area. This is probably triggering the bug I mentioned above.

[2017-07-15 14:14] kilomwork commented on #22
Hi Mathew,

Thank you for your help.

I use pgadmin to update the tidal extraction point but I am not sure why the coordinates in the dto file do not match with the data that I stored in the pgadmin.

The attached file is a new dto file that I created after I had updated the coordinates of the tidal extraction point. Unfortunately, the error still occurs.

![nan1](https://user-images.githubusercon

[2017-07-15 23:26] kilomwork commented on #21
Hi @H0R5E,

I have tried to input the Mean Power Production Histogram Per Device data by the attached excel file.

[bin.xlsx](https://github.com/DTOcean/dtocean-issues/files/1150711/bin.xlsx)

However, the following error occurred. Could you suggest how I can fix it please?
Thank you very much for your help.

![error_electrical](https://user-images.githubusercontent.com/25958432/28243318-f8e524e8-

[2017-07-18 09:57] H0R5E commented on #22
Hi @kilomyau, the tidal time series data seems to be corrupt. It looks like it is mostly zeros and nans from the image below. You need to check the format you used to enter the data into the database.

![currents_missing_data](https://user-images.githubusercontent.com/5088535/28311397-7928b426-6ba7-11e7-9132-626dac0162e9.png)

[2017-07-18 17:51] H0R5E commented on #21
Hi @kilomyau, I'm afraid direct loading of this variable is broken in version 1.0. It's fixed in version 1.1 but in the meantime you can use the "Load test data..." menu option when you right click on "Electrical Sub Systems" in the pipeline to load it up using a python file. I've attached an example of the file you need and a screenshot of the menu I am referring to.

<img width="259" alt="captur

[2017-07-18 22:52] kilomwork commented on #21
Hi @H0R5E, Thanks a lot for your help!

The python code you provided works well. However, it created another error that you may be able to help. Sorry for seeking lots of assistance here as I am experienced in python language.

![type error1](https://user-images.githubusercontent.com/25958432/28343127-b002f148-6c13-11e7-93a9-bf959d866c1e.PNG)

2017-07-18 23:39:28,457 - INFO - aneris.control.simula

[2017-07-19 07:51] H0R5E commented on #21
Hi, version 1.0 of the electrical module can only work with the following soil types: 'hard glacial till', 'hard rock', 'gravel cobble'. This is fixed in version 1.1.

[2017-07-20 09:58] kilomwork commented on #21
Hi @H0R5E ,

I have tried changing the soil type to 'hard rock' for tables beta.bathymetry_layer, beta.cable_corridor_bathymetry_layer, beta.project_bathymetry_layer and beta.project_cable_corridor_bathymetry_layer in the pgAdmin.

However, the same error happens again. Could you suggest any tables that I have missed to update please? Thank you very much for your help.

[2017-07-20 10:44] H0R5E commented on #21
Hi, sorry about that! Does the example data run?

[2017-07-20 10:54] kilomwork commented on #21
Hi @H0R5E

I installed DTOcean in my second laptop.

I checked the data stored in the pgAdmin and I found that the example data came with the installation package works well with 'medium sand'.

So, I guess that there may be other issues causing the error instead of the soil type?

Thank you!

[2017-07-20 11:02] H0R5E commented on #21
Yes, on second thought medium sand may be the only soil type that will pass
this bug. You will have to change all the soil types to medium sand.

Sorry for the confusion, I thought that the first if statement would skip
the other conditions of it was true, but this is not the case.

On 20 Jul 2017 12:54 p.m., "Ka Man" <notifications@github.com> wrote:

Hi @H0R5E <https://github.com/h0r5e>

I insta

[2017-07-20 11:28] kilomwork commented on #21
Hi @H0R5E,

I have just set the soil type back to 'medium sand' for tables
b**eta.bathymetry_layer, beta.cable_corridor_bathymetry_layer, beta.project_bathymetry_layer and beta.project_cable_corridor_bathymetry_layer**
using the code as follow
![medium sand](https://user-images.githubusercontent.com/25958432/28414905-6d18ed32-6d45-11e7-82ad-ac0c958453bb.PNG)

Unfortunately, the error still occurs.

[2017-09-15 10:53] H0R5E commented on #7
So, this appears to be the same as the issue reported here: ContinuumIO/anaconda-issues#3264

Essentially, there is an issue when constructor is trying to unpack a file path that is exactly 100 characters long.

I think a short term fix for this will be to rename the effected folder, which should bring all the files below 100. The reference to the folder in the source code will also require modifi

[2017-09-15 11:05] H0R5E commented on #8
Closing due to inactivity.

[2017-09-15 11:05] #8 closed, assigned to nobody

[2017-09-15 11:05] H0R5E commented on #22
Closing due to inactivity.

[2017-09-15 11:05] #22 closed, assigned to nobody

[2017-09-15 15:31] H0R5E commented on #7
Solved by https://github.com/DTOcean/dtocean-environment/pull/1

[2017-09-15 15:31] #7 closed, assigned to H0R5E

[2017-11-01 10:20] H0R5E commented on #20
Solved by DTOcean/dtocean-core#35

[2017-11-01 10:20] #20 closed, assigned to nobody

[2018-06-14 14:31] ttosdevin opened #23 "Problems with the WEC simulator?"
Hi,

The error below occurred in the WEC simulator whilst I was following the video tutorial ‘Tutorial 2 #&#xfeff;1 Hydrodynamics’ once the add body description was clicked. All the inputs used were the same as those from the tutorial video. The mesh file I used was from the dtocean heaving_cylinder folder taken from:
C:\Users\dtocean\data\dtocean_wec\wec_db\heaving_cylinder\cylinder.gdf

I have t

[2018-06-14 15:24] H0R5E commented on #23
Hi, thanks for the bug report. I'll have a look at it, but I'm afraid this won't be fixed until the next version release.

Watch this space.

Mat

[2018-06-14 15:34] ttosdevin commented on #23
Hi,

Thanks for getting back to me so quickly, do you know roughly when the next
versin release is likely to be? I am currently completing my masters
disertation and was planning on using DTOcean but will change my plans if
the release is not in the next month.

Kind regards,
Tom

On 14 June 2018 at 16:24, Mathew Topper <notifications@github.com> wrote:

[2018-06-14 15:40] H0R5E commented on #23
Hi Tom, no it's not planned to be that soon, I think it will be sometime in the autumn.

Mat

[2018-06-14 15:42] H0R5E commented on #23
Fixed in development branch.

[2018-06-14 15:42] #23 closed, assigned to nobody

[2018-08-20 17:34] fcorreiadafonseca opened #24 "An IntegrityError occurred: duplicate key value violates unique constraint"
Hello everyone,
I have been trying to get the DTOcean tool to work. First I couldn't install DTOcean since I was getting the error related with the installation directory when installing the Hydrodynamics package.

Once having introduced the directory in the regedit, I managed to install the tool and run it. However, whenever I press the initiate dataflow icon and pressing ok after the "PASSED" pr

[2018-08-22 10:53] H0R5E commented on #24
Hi Francisco,

Which simulation are you trying to run? How long were you waiting?

You can find log files in the "YourUserDirectory\AppData\Roaming\DTOcean\dtocean_app\logs" folder. The latest one should be called dtocean_app.log. Is there any relevant information towards the end of that file?

[2018-08-22 14:27] fcorreiadafonseca commented on #24
Hello @H0R5E,
Thank you for your fast reply.
I was following the available tutorials (Tutorial 1 #&#xfeff;3 Input preparation) for the simple example with Hydro+Electrical. I don't seem to have the "dtocean_app" folder in the "YourUserDirectory\AppData\Roaming\DTOcean\" directory, so I couldn't find the log files.

Anyway, I have let the progress bar load for roughly 30 minutes and ended up gettin

[2018-08-22 14:50] H0R5E commented on #24
Sorry, the folder will be "dtocean_gui" on the version you are running.

Looks like some sort of database corruption caused by a duplicate key. Which version of postgreSQL are you using? DTOcean was only tested on 9.3 and 9.4. Did you change any data in the database? Could you have restored it twice?

In general, there are lots of problems with the release you are trying to use. Some of those prob

[2018-08-22 15:07] H0R5E commented on #24
Francisco, do you get this issue when you select a device before initiating the dataflow? I notice the device isn't set on the screenshot you added.

[2018-08-23 15:45] fcorreiadafonseca commented on #24
Hello @H0R5E ,
I am running postgreSQL version 9.3.23. It doesn't change anything if I select the device but I might have restored the database twice, now that you mention it. How can I see if that is indeed the problem? I will try to look into it, thanks.
Francisco

[2018-08-23 19:03] H0R5E commented on #24
Hi Francisco, you should try deleting the database and then recreating it from scratch. This is the only way to start afresh.

[2018-08-24 07:36] fcorreiadafonseca commented on #24
Hello @H0R5E, thank you for the tip. Everything seems to be working now! I will look into the next anaconda version as well.
Thanks!
Francisco

[2018-08-24 14:37] H0R5E commented on #24
Hi Francisco, glad you have it sorted and thanks for your feedback.

As I said, there are still a number of problems, even with version 1.0.3, which will be fixed in the next update.

[2018-08-24 14:37] #24 closed, assigned to nobody

[2019-03-15 09:10] H0R5E commented on #12
I'm going to leave this one open to see if anyone is still encountering this issue with version 2.0.0

[2019-03-15 09:14] H0R5E commented on #3
Fixes applied in version 2.0.0 installer

[2019-03-15 09:14] #3 closed, assigned to nobody

[2019-03-15 09:18] H0R5E commented on #2
A new tool has been provided to help with database management. See the [Load & Dump](https://dtocean.github.io/user/gui.html#load-dump) section of the docs.

Also, the [Data Preparation](https://dtocean.github.io/user/data_preparation.html) chapter of the docs is dedicated to preparing data for storage in the database. It also contains a list of all database tables and their association with varia

[2019-03-15 09:18] #2 closed, assigned to nobody

[2019-06-01 02:02] NajiyaN opened #28 "DTOcean 1.x tutorial 1 "supporting data" incompatible with DTOcean 2.x"
I am trying to read in the fixed tidal tutorial file /any input file and I am getting an import error.
eg -An ImportError occurred:no module named moorings.

Appreciate any pointers to solve this.

[2019-06-05 09:09] H0R5E commented on #28
Hello @NajiyaN,

It sounds to me like you have some sort of backwards compatibility problem. You will need to provide more information if I am to help you, however. Can you tell me:

1. Which version of DTOcean are you using? (Open the GUI and then open the "About DTOcean..." dialogue from the "Help" menu. The version number is below the banner.)

2. How did you install it? (Using an installation

[2019-06-05 11:53] NajiyaN commented on #28
Hi Mat,

Thank you for getting back on this. Please find below details as requested.

I have also attached the snapshot of the error. Please let me know if you
need more information.

Thanks
Najiya

On Wed, Jun 5, 2019 at 10:09 AM Mathew Topper <notifications@github.com>
wrote:

[2019-06-06 11:48] H0R5E commented on #28
Najiya, I don't think the attachment worked, but, in general the files on the SETIS website will not work in DTOcean 2.0.

What are you trying to do? If you just want a tidal example to play with, I can send you an alternative file.

Alternatively you can create a tidal example using the database following this guide:

https://dtocean.github.io/user/getting_started_2.html

[2019-06-06 18:33] NajiyaN commented on #28
Mat, Incompatibility between the file and version of software could be the case. I can't attach the error pic. The error "An ImportError occurred - No module named mooring".

I am working on tidal turbine foundations so , a tidal example would be helpful. I tried the database method but its throwing an error when i try to run the foundation module - "A RuntimeError occrred- No suitable grid points

[2019-06-07 08:45] H0R5E commented on #28
OK, I'll prepare a file for you (in .dts format) that you can import data from. Note, however, that you can't edit the data in a .dts file. Also, it will take me a couple of days to get it ready.

Regarding the foundation module error, this is probably due to the devices being placed too close to the edge of your domain. If you are using the hydrodynamics module to set the layout, then try increas

[2019-06-16 14:11] NajiyaN opened #29 "MemoryError: Tidal time series from database not being populated"
Hi,

I am working with DTO2.0 and the available example database. I noticed that tidal time series data within the database is not showing up in the hydrodynamic module following the initiate data flow step(tidal time series is a red square). I tried this with two different databases both having information on tidal series. Please advice on what could be the possible reasons.

![tidal_error](https

[2019-06-18 09:30] H0R5E commented on #28
OK. so I've attached the promised ".dts" file in a zip folder. Instead of using the "Load test data..." context-menu action, go to the "Data" menu in the menubar and select "Import (skip satisfied)...". Then select the "tidal_12MW_example.dts" file (after you have unzipped it). I've attached an image to help you find the import action.

![import_data](https://user-images.githubusercontent.com/5088

[2019-06-18 09:30] #28 closed, assigned to nobody

[2019-06-18 12:22] H0R5E commented on #29
Hi, if you scroll up in the system window, there will be an error logged in there that passed silently. Can you post the full [stack trace](https://en.wikipedia.org/wiki/Stack_trace) here?

For the tidal time series table the rule is that it must have an equal number of time steps for every point in the bathymetry table (for your particular site). You can check the lengths of matching tables in th

[2019-06-19 15:43] NajiyaN commented on #29
Hi ,
Thanks for getting back. The full trace is pasted below.

2019-06-19 14:56:24,864 - INFO - dtocean_core.core - Data added for identifier 'device.system_type'
2019-06-19 14:56:41,160 - INFO - dtocean_core.core - Data added for identifier 'hidden.pipeline_active'
2019-06-19 14:56:45,733 - INFO - dtocean_core.core - Data added for identifiers:
    hidden.landing_points
    hidden.site_boundaries

[2019-06-27 09:54] H0R5E commented on #29
Remember that the example database contains 2 examples (one for wave and one for tidal) and only one tidal time series, so this is why you look at the counts in the _filter_ schema of the database. For the tidal example there are 27889 grid points and 4685352 entries in the tidal_series_energy_tidal table, which makes 168 time steps per grid point, exactly.

So, as I said, it's important that you

[2019-06-30 20:38] NajiyaN opened #30 "A ValueError occurred:Unable to parse string "n/a" at position 2"
Hi,

I tried doing an analysis with M&F module and got the following error
"A ValueError occurred:Unable to parse string "n/a" at position 2"
The full stack is posted below

2019-06-30 21:31:20,477 - INFO - dtocean_core.menu - Executing module 'Mooring and Foundations'
2019-06-30 21:31:21,746 - INFO - dtocean_moorings.main - ===================================================================
2019-

[2019-06-30 21:12] NajiyaN commented on #29
My system RAM is only 4 GB.

[2019-07-02 10:49] NoorvVelzen opened #31 "Installing DTOcean 2.0 (wizard based) alongside DTOcean 1.0 (Anaconda)"
Hi!
I’m currently at the point of installing DTOcean2.0 on my computer. I went through the video how to install this latest version.
I came across an issue: I have DTOcean(1.0) installed on my computer through anaconda, therefore, uninstalling DTOcean(1.0) is not as straightforward as shown in your video.
Can I install DTOcean2.0 when DTOcean(1.0) is still installed on my computer? Or would it int

[2019-07-03 10:24] H0R5E commented on #31
Can you give me some more details?

Did you attempt to install DTOcean 2? If so, using which method and what was the problem you encountered?

What end state do you want? Do you want to keep your anaconda DTOcean 1.0 and install the wizard version of 2.0 alongside or do you want to update the anaconda version to 2.0? Or something else?

[2019-07-03 10:30] H0R5E commented on #29
What you can achieve with 4GB RAM is more limited. The recommended minimum is 8GB.

Strategies for dealing with this would be either to select a smaller lease area when filtering the database  or increase the spacing between your grid nodes.

[2019-07-03 10:37] NoorvVelzen commented on #31
Hi,
As it was indicated in the installation video to uninstall DTOcean1.0. I did not install DTOcean2.0 before uninstalling DTOcean1.0, which is not as straightforward on my computer (anaconda DTOcean1.0) as in the video.
Regarding the wished for end stage, I want to install DTOcean2.0, either with DTOcean1.0 still available or only DTOcean2.0. Is it possible to have DTOcean2.0 installed and runni

[2019-07-03 10:40] H0R5E commented on #30
Hi, this is a bug caused by one of the foundation anchor points not requiring a foundation. Generally, this problem appears because the loads are only calculated in the principle direction of the tide and not the opposite direction.

I'll try and have a look at this one for the next point update, but you could try setting the "Use Repeated Foundations" variable to True, in the meantime, so that th

[2019-07-03 10:49] H0R5E commented on #31
OK, thanks for the clarification.

You should be OK to install DTOcean 2.0 using the wizard if you don't use the same installation directory as the hydrodynamics data package (which is probably installed into C:\DTOcean). If you choose the "Just me" option and install it into your home folder, then that will probably be fine.

[2019-07-03 10:52] NoorvVelzen commented on #31
Thank you, I will try this!

[2019-07-03 10:54] H0R5E commented on #31
No problem. Let me know if it works and then I can close the issue.

[2019-07-05 13:30] NoorvVelzen commented on #31
I could install DTOcean2.0, thank you!

note: I had already uninstalled the Hydrodynamic Data package when going through the installation video, so I didn't encounter any problems with inference.

[2019-07-05 19:50] anupjn opened #32 "The input velocity field is highly rotational - Error"
Hi,

Been trying to use the hydrodynamic module within DTO2 with some fixed tidal device input data sets. With the same input tidal data, the hydrodynamic module worked in DTO1. That said, every time I run the hydrodynamic module in DTO2, it throws up this error (please see the "System" window text copied below):

CRITICAL - dtocean_app.main - An IOError occurred: [Errno The input velocity field i

[2019-07-08 08:41] H0R5E commented on #32
Hi, it's pretty much impossible to diagnose without seeing the data. Can you share it (preferably as the .dto file for the project you are trying to execute)?

Although no changes were made to the particular piece of code that is triggering, some updates were made to the code which selects the time steps to analyse from the tidal time series, so it could be that a different set of data is being pr

[2019-07-08 10:15] H0R5E commented on #31
You will need the Hydrodynamics Data package to run your Anaconda version of DTOcean, so I would consider re-installing it. Glad everything else worked out for you.

[2019-07-08 10:15] #31 closed, assigned to nobody

[2019-07-08 12:54] anupjn commented on #32
Thank you for your response and insights into this error. Please find the .dto file attached here for reference.

I did not know that the tidal probability bins are related to the error. I arbitrarily selected a few numbers (5, 10, 100) for the bins and tried running the hydrodynamic module. Still gave the same error. Though I still do not know what the impact of these changes are.

I did not tran

[2019-07-08 15:31] H0R5E commented on #32
Hi, yeah, I opened the project and I don't think your data has been correctly entered. Attached is a screenshot from one of the time steps of the tidal time series.

![bad_data](https://user-images.githubusercontent.com/5088535/60822608-af083980-a19d-11e9-91f4-4e0991d6cbee.png)

[2019-07-09 10:34] anupjn commented on #32
Is the reversed direction of flow in certain parts of the area the problem? Just trying to understand your comment so that I can investigate further. Thanks.

[2019-07-09 12:16] H0R5E commented on #32
The reversed direction of flow and the sudden jumps in velocity as you traverse in the x-direction are clear indicators of a non-physical flow. The plot is trying to smooth the data, but it looks like the velocities are jumping from 0 to 0.5 to 0 to 0.5 to 0... from grid point to grid point.

[2019-07-29 12:23] tbloise commented on #32
Hi,

1)	We are trying to use the hydrodynamic module of DTOcean2.0 with real tidal series data. However, we are obtaining an error (as below). This tidal series has a variable velocity along the bathymetry points, as well as a variable velocity over time. Please see below an image that represents a point in time where velocities are variable over the lease area. Please note that – if the same tida

[2019-08-02 16:03] H0R5E commented on #32
With regards to your first issue, I am almost certain it's some kind of data corruption / misentry. The check is applied at a fixed time step, so something within one of your time steps is causing the problem, rather than variability over time. I admit, it is hard to track down the problem, as the temporal information is destroyed by the time it reaches the hydrodynamics module. The only way I can

[2019-09-08 11:28] #29 closed, assigned to nobody

[2019-10-11 09:52] #32 closed, assigned to nobody

[2020-04-15 16:53] bhuvandto02 opened #33 "How to modify database values"
Respected Sirs:

We have some queries in tool-DTOcean-Version-2.0, there are two solved examples we have worked on it, get results because of the tutorial. And we would like to have more knowledge on "pgAdmin4"
Question number 1: Can i upload the new input data in pgAdmin4 server created by me ? Is that possibile?
Question number 2: If yes, Would you send any tutorial link regarding pgAdmin4? or a

[2020-04-16 12:22] H0R5E commented on #33
Hello,

There is a way of exporting and importing the database to a file structure that can be edited using the "Select Database Dialogue" as described here: [Load & Dump](https://dtocean.github.io/user/gui.html#load-dump). The structure of these files is described here: [Database Tables](https://dtocean.github.io/user/data_preparation.html#database-tables) and a general description of how the dat

[2020-06-22 23:10] #33 closed, assigned to nobody

[2020-08-14 10:16] Ribzmann opened #34 "Capturing the impact of PTO control for WEC simulation"
Hello,
Thank you for developping this tool, it seems very usefull and complete.
I have a problem though. I want to use DTOcean to optimize the array configuration of wave energy converters. I already know the annual power output for one device through using WEC-sim and damping control.
But when I use the WEC simulator and then run the strategy I have a completely different output (same nemoh confi

[2020-08-14 15:19] H0R5E commented on #34
Hi Antoine, thanks for submitting your issue. I'm sorry that DTOcean is not working for you and I will try and help you out. Maybe @ssolson, might have an opinion on this as well?

Can I first just check which version of the tool you are using?

Have you also seen the tutorial on using the WEC simulator [here](https://www.youtube.com/playlist?list=PL0_lWZCqs2h2NJWA0YX7L3_qyd2snzq_d)?

Could you pr

[2020-08-17 08:18] lovescienc opened #35 "Component Costs Data and its Sources"
Hello,

Thank you very much for the development of the software and the provision of the associated content.
I wonder if there is a list or something similar inside the software (or outside, for example on the project homepage) from which you can see what costs were assumed for which component. Ideally with source reference.

Kind regards,

Vincent

[2020-08-17 09:56] Ribzmann commented on #34
Hi, thank you for your reply.
I am using version 2.0 and yes I have watched the 2 tutorials.
Yes, I will try to explain better.
My team already used Nemoh and Wec-Sim (matlab versions) to compute the power matrix of our device, so we already have an annual output power generation for one device. Our device is using a control method to optimize the damping and thus the power output.
We saw that DTo

[2020-08-17 13:03] H0R5E commented on #34
Hi Antoine,

Looking at your images, I would say that the performance fitting step is not working, for some reason. I'll try and explain the WEC-Simulator process and maybe that will be helpful.

DTOcean uses a modified version of NEMOH to calculate some additional parameters used in the calculation of interactions between the WECs, following the approach given [here](https://www.sciencedirect.com

[2020-08-17 13:29] H0R5E commented on #35
Hi Vincent,

Regarding the sources of cost data, I'm afraid this information was anonymized or estimated by design as, in general, it's considered commercially sensitive. In most cases this process is also not well documented, but there is the odd [paper](https://www.mdpi.com/1996-1073/10/12/1973) that discusses it. The purpose of the cost data in DTOcean was to give a reasonable estimate at costs

[2020-08-18 10:37] Ribzmann commented on #34
Ok, thank you I understand better now but my power matrix is very far from the one computed by NEMOH. Attached are the 3 matrixes
<img width="773" alt="user" src="https://user-images.githubusercontent.com/62615598/90503252-674d3300-e14f-11ea-9b75-bc5493166968.PNG">
<img width="744" alt="original" src="https://user-images.githubusercontent.com/62615598/90503260-687e6000-e14f-11ea-8618-2f09ff1b85b2.

[2020-08-18 12:22] H0R5E commented on #34
Hi Antoine,

Yeah, it doesn't look like you've done anything wrong, it looks to me like the power fitting is not happy increasing the power in a bin beyond that found by the NEMOH calculations, and there are clearly some areas of your power matrix that are quite enhanced compared to what our NEMOH has predicted.

I'm not sure there is much I will be able to do without having access to your data, b

[2020-08-20 09:26] Ribzmann commented on #34
Hi Mat,
Looking at these 2 reports : _Reducing variability in the cost of energy of ocean energy arrays_ and _Methodology for Design and Economic Analysis of Marine Energy Conversion (MEC) Technologies as well as the video I noticed something I could have misunderstood and done wrong.
The user provided matrix should be a mechanical power matrix, and not a electrical power matrix. It shouldn't be c

[2020-08-20 13:24] H0R5E commented on #34
Hi Antoine, yes you are right, but I'm not sure this is going to help a great deal with modelling your device in DTOcean, as there isn't a way of specifying a differing electrical output of the device (beyond capping the rating). This might be something that the DTOceanplus project is considering but it's out of scope, currently. I suspect it also causes a problem with the interaction method, beca

[2020-10-24 20:31] #35 closed, assigned to nobody

[2020-12-08 14:06] KD379 opened #36 "dtocean-reliability crashes for isolated dtocean-moorings simulation with no substation"
Trying to see reliability and economic metrics for one floating wave energy converter.
Selected modules: Hydrodynamics, Mooring and Foundations
Selected assessments: Economics, Reliability

Using data from wave floating example with changes as outlined below so simulation will run for 1 device only:

Hydrodynamics:
array rated power = 0.3
device rated power = 0.3
user option for array layout = rec

[2020-12-08 14:48] H0R5E commented on #36
Hi @KD379, that is a bug. You can use the core.py file in the attached zip file to replace the file C:\Users\k-e-d\DTOcean\lib\site-packages\dtocean_reliability\core.py on your machine, and that should fix it.

[core.zip](https://github.com/DTOcean/dtocean/files/5659878/core.zip)

In general, DTOcean is currently poorly tested for single device problems, because it lacks features that are common t

[2020-12-08 15:37] KD379 commented on #36
Hi @H0R5E.  Thanks for that, the new core.py file did the trick. I ran a simulation identical to one I did before with the new core.py file and the strategy finished without an array error. However, I got the exact same results as before (when the error occurred) i.e. most of the economics assessment such as LCOE, OPEX, etc. is not computed as can be seen in the attached image. Is this because it

[2020-12-08 15:46] KD379 opened #37 "Variable File Manager: An AttributeError occurred: 'NoneType, object has no attribute 'keys' when saving (DTOcean 2.0's oldest bug)"
**Describe the bug**
An AttributeError occurred: 'NoneType, object has no attribute 'keys'
This error pops up whenever I try to save outputs

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to Results
2. Go to 'variable file manager' for any results you want to save (save is already selected, load is not an option)
3. Click ellipsis (...) next to file path
4. See error
2020-12-08 15:39:54

[2020-12-08 15:50] H0R5E commented on #36
@KD379 without running the installation and maintenance modules you won't get a full LCOE calculation. You can turn on the "Estimate Energy Record" switch in the Economics module to calculate LCOE using just the dry CAPEX and AEP without losses. If the installation and maintenance modules are not run you have to manually enter the installation costs (Installation Bill of Materials) and the annual

[2020-12-08 15:58] KD379 commented on #36
Great, thanks for your help @H0R5E!

[2020-12-08 16:02] H0R5E commented on #37
Hi @KD379, you have discovered the oldest bug in DTOcean 2.0. You can fix it by replacing the file at:

 `C:\Users\k-e-d\DTOcean\lib\site-packages\dtocean_app\widgets\central.py`

with the file in the attached zip.

[central.zip](https://github.com/DTOcean/dtocean/files/5660329/central.zip)

[2020-12-08 16:14] KD379 commented on #37
Hi again @H0R5E. That works perfectly now, thanks!

[2020-12-11 11:43] KD379 opened #38 "dtocean_core type mismatches when reading from database"
**Describe the bug**
A TypeError occurred: bad operand type for unary -: 'unicode'
Running mooring and foundations module and reliability assessment for RM3 one device using Eureka CA data. Mooring and foundation module ran and gave results. Error occurred during reliability assessment and no reliability results given.

**To Reproduce**
1. New project set up using floating wave examples database (

[2020-12-11 14:37] H0R5E commented on #38
Hi @KD379, I can't recreate this one. Can you upload your .dto file? It might be too big to upload here, so you might need to use a filesharing service, like Google Drive, etc.

[2020-12-11 14:50] KD379 commented on #38
Hi @H0R5E, here is the link to a google drive folder with the .dto file labelled as PROJECT 20. Hopefully this works.

https://drive.google.com/drive/folders/1UYzsiH8Br7ePcmkbZ5FGMeVUvS978sgN?usp=sharing

[2020-12-11 15:18] H0R5E commented on #38
OK, thanks I have it now. There is some sort of type mismatch, but I am not sure where it is coming from. I'll do some investigation and get back to you.

[2020-12-14 10:43] H0R5E commented on #38
Hi @KD379, so this was a bit of a deep problem where types were not being properly handled when reading from the database. The fix (this is something I came across last year) required a number of file changes to the dtocean_core module, so to fix this you will need to completely replace the

`C:\Users\k-e-d\DTOcean\Lib\site-packages\dtocean_core`

folder with the folder in the attached zip file.

[2020-12-14 10:45] H0R5E commented on #38
Thanks for the feedback, and sorry the solutions are so bitty, its difficult to find time to roll out these fixes when you are working alone.

[2020-12-14 13:27] KD379 commented on #38
Hi @H0R5E. Thanks for looking into this and the previous issues I came across also. I know I'm after bombarding you with a few issues at once so apologies for that!

I replaced the dtocean_core folder and reran the simulation as before and the same error (A TypeError occured: bad operand type for unary -:'unicode') occurred again. I have uploaded the .dto file and a .txt file of the system code to

[2020-12-14 13:32] H0R5E commented on #38
Hi @KD379, yeah, you will have to start the project again because the data was corrupted. You need to get the data from the database again, and you can only do that by starting a new project. Sorry.

[2021-01-15 16:27] KD379 opened #39 "First floating device has (many) more mooring lines than other devices in array"
Hello and Happy New Year!

This is not an issue or bug, I am just looking for advice or an explanation for some results I was not expecting. Apologies in advice for the long-winded explanation.
I have been using DTOcean to see how changes to ULS safety factors may affect mooring and foundation system design with regards to reliability and economics.

**Step by step**

- New project (Saved as PROJE

[2021-01-15 17:26] H0R5E commented on #39
Hi @KD379, happy new year to you, also. Yeah, I would say your overall results are surprising. Would you be able to share the DTO files for the 1 and 2.25 cases? From some of the array layout diagrams it looks like the moorings module has not been able to find a solution, but has still completed (there seems to be two devices without any moorings at all for the 2.25 case), so the costings are just

[2021-01-15 17:55] KD379 commented on #39
Hi @H0R5E. I have shared the PROJECT27.dto file on this drive (I think you already have access).

My mistake regarding the 2.25 case where it looks like some devices have no foundations, I forgot to select the excess data for the diagram when the number of foundations increased when I was copying and pasting the pages - rookie mistake! So I uploaded the excel file on the drive too with the diagram

[2021-01-20 16:17] H0R5E commented on #39
@KD379, thanks for the data. I'm sorry, but I'm pretty time limited this week, but I will try to have a look at it before next week.

[2021-01-25 14:31] H0R5E commented on #39
@KD379, I've attached some files that should help with the CAPEX part of your problem. You need to replace the files in the `DTOcean\Lib\site-packages\dtocean_moorings` directory with the ones in the following zip:

[moorings.zip](https://github.com/DTOcean/dtocean/files/5867119/moorings.zip)

I'm afraid this might not still provide everything you want. Essentially the mooring design algorithm is

[2021-01-25 15:35] KD379 commented on #39
Hi Mat,

First of all, thanks for looking into this in so much depth!

I will replace those files and rerun the simulations. It will be interesting to see how the moorings and foundations for the first device turns out now! I could post the CAPEX vs. ULS safety factor on this thread after if you wanted to have a look.

I see now how I was barking up the wrong tree trying to find a meaningful relat

[2021-09-21 16:51] #36 closed, assigned to nobody

[2021-09-21 17:15] H0R5E commented on #39
Fixed by https://github.com/DTOcean/dtocean-moorings/commit/2c9e353f991666a33d142adb7b03af904b56522f

[2021-09-21 17:15] #39 closed, assigned to nobody

[2021-11-03 13:31] #10 closed, assigned to nobody

[2021-11-03 13:31] #30 closed, assigned to nobody

[2021-11-03 13:31] #38 closed, assigned to nobody

[2022-07-07 12:22] #37 closed, assigned to nobody